:root{

	--mainColor:#777696;
	--secondaryColor:#8c92ac;
    
	--borderColor:#38414b;

	--mainText:black;
	--secondaryText:#232527;

	--themeDotBorder:#24292e;

	--h1firstColor: #4c516d;
}
