:root{

	--mainColor:#796878;
	--secondaryColor:#ac9fb5;
    
	--borderColor:#38414b;

	--mainText:black;
	--secondaryText:#232527;

	--themeDotBorder:#24292e;

	--h1firstColor: #604e60;
}
